// ======================================
//  Button Styles
// ======================================

.idioma {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 5000;
}

.idioma:hover {
    cursor: pointer;
}

.idioma img {
    height: 2.5rem;
    width: auto;
    
    &:hover {
        height: 3rem;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-radius: 15%;
    }
}




.botonBajar {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-image: url("/img/arrow-down.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
    
    &:hover {     
        height: 50px;
        width: 50px;
        right: 23px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out; 
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    
    @media screen and (max-width: $movil) {
        height: 2.5rem;
        width: 2.5rem;
        bottom: 0.5rem;
        right: 0.5rem;
    }
}

.botonSubir {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
    background-image: url("/img/arrow-up.png");
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {      
        height: 50px;
        width: 50px;
        right: 23px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out; 
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    
    @media screen and (max-width: $movil) {
        height: 2.5rem;
        width: 2.5rem;
        top: 0.5rem;
        right: 0.5rem;
    }
}

.subirBlanco {
    background-image: url("/img/arrow-up-white.png");
}

.bajarBlanco {
    background-image: url("/img/arrow-down-white.png");
}

.border4 {
    visibility: hidden;
    position: relative;
    margin: auto;
    width: 25vw;
    font-size: 1.2rem;
    color: #f8fdff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #f8fdff;
    
    animation: content3 2s ease-out 4s;
    animation-fill-mode: forwards;
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    @media screen and (max-width: $movil) {
        margin-top: 0px;   
        
        animation: content3movil 2s ease-out 4s;
        animation-fill-mode: forwards;
        width: 50vw;
    }
}




#boton-web:hover,
#boton-frameworks:hover,
#boton-otros:hover {
    background-color: aliceblue;
}