// ======================================
//  Base Styles
// ======================================

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #666;
}

a {
    text-decoration: none; 
}


/* Core styles */

.spanish > div, .spanish > section{
    
    @media screen and (max-width: $movil) {
        height: auto;
        overflow:scroll;
    }
}

.ptext .titulo {
    background-color: #111;
    font-size: 2rem;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;

    position: relative;
    animation: heading 1.5s ease-out, heading2 2s ease-out 4s;
    animation-fill-mode: forwards;
    margin:auto;
    width: 55vw;
    
    @media screen and (max-width: $movil) {
        font-size: 1.2rem;
        animation: heading 1.5s ease-out;
        animation-fill-mode: forwards;
        border-radius: 10px 10px 0px 0px;
        width: 80vw;
    }
}
 
.border2 {
    background-color: #111;
    font-size: 1.2rem;
    color: aliceblue;
    text-shadow: none;
    padding: 20px;
    text-transform: none;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 0 0 10px 10px;
    margin:auto;
    width: 30vw;

    position: relative;
    animation: content 1.5s ease-out, content2 2s ease-out 4s;
    animation-fill-mode: forwards;
    
    @media screen and (max-width: $movil) {
        font-size: 1rem;
        top: 0px;
        width: 80vw;
    }
}

.border3 {
    visibility: hidden;
    font-size: 0.8rem;
    color: aliceblue;
    text-shadow: none;
    padding: 20px;
    text-transform: none;
    text-align: left;
    letter-spacing: 5px;
    position: relative;
    margin: auto;
    line-height: inherit;
    width: 60vw;

    animation: content3 2s ease-out 4s;
    animation-fill-mode: forwards;
    
    @media screen and (max-width: $movil) { 
        font-size: 0.5rem;
        letter-spacing: 0.1rem;
        line-height: none;
        padding: 20px;
        width: 80vw;
        animation: content3movil 2s ease-out 4s;
        animation-fill-mode: forwards;
    }
}

.parrafoLogo {
    text-align: center;
    white-space: inherit;
    display:    inline-flex !important;
    flex-direction: row !important;
    align-items: center;
    align-content: center;
    padding: 5px;
    padding-left: 35px;
    font-size: 0.9rem;
    margin-top: 5px;
    justify-content: space-evenly;
    height: inherit;
    line-height: normal;
    
    @media screen and (max-width: $movil){
        margin: 15px 5px 0 5px ;
    }
}

.ptext5 {
    position: absolute;
    top: 25vh;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    display: inline-block;
}

.ptext5 .border5 {
    background-color: #111;
    font-size: 35px;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    width: 40vw;
    margin: auto;

    @media screen and (max-width: $movil){
        width: 80vw;
    }
}

.ptext5 .border6 {
    font-size: 0.8rem;
    color: aliceblue;
    text-shadow: none;
    padding: 20px;
    text-transform: none;
    text-align: left;
    letter-spacing: 5px;
    position: relative;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 35vw;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
        
    @media screen and (max-width: $movil){
        width: 80vw;
        word-wrap: break-word;
    }
}

.ptext5 .border6 a:link {
    text-decoration: none;
    color: aliceblue;
}

.ptext5 .border6 a:visited {
    text-decoration: none;
    color: mediumpurple;
}